
//- div.header = .header
//- dấu . là tạo ra class dấu # là id
//- trong này chia cấp theo tab nên tab cẩn thận
div.header 
    div.title-header
        p ahihi tui là header 
    div.menu-header 
        p ahihi tui là menu
        a(href="#") click me